
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: lightgrey;
}

.appname {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  list-style-type: none;
}

.navbar-links li button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}


.content {
  margin-left: 20px;
}

.content h1 {
  color: black;
}


.footer {
  background-color: lightgrey;
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}
